<h1>Records For Sale</h1>

<h1><%= @artist.artist_name %></h1>
<h2><%= @artist.record_title %></h2>
<h3><%= @artist.genre %></h3>
<h3><%= @artist.description %></h3>
<h3><%= @artist.playtime %> min</h3>
<h3><%= @artist.label %></h3>