<section>
<h2>Artist: <%= @vinyl.artist_name %>
<p>Album Title: <%= @vinyl.record_title %></h2>
<p>
<h4>Genre: <%= @vinyl.genre %>
<p>Description: <%= @vinyl.description %>
<p><%= "#{@vinyl.playtime}" %>
<p>Record Label: <%= @vinyl.label %>
<p>Price: <%= number_to_currency(@vinyl.price) %>
<p>Tax: <%= number_to_currency(@vinyl.tax) %>
<p>Total: <%= number_to_currency(@vinyl.total) %>
<p><%= @vinyl.sale_message %></h4>


<%= link_to 'Home', '/vinyls' %>
<br>
<%= link_to 'Edit', "/vinyls/#{@vinyl.id}/edit" %>
<br>
<%= link_to 'Delete', "/vinyls/#{@vinyl.id}", method: :delete %>

<p><a href="/suppliers/<%= @supplier.id %>"></a>Supplied By: <%= @supplier.name %></p>
</section>

<h1>Buy Vinyl</h1>
<%= form_tag '/orders', method: :post do %>
  <div>
    <%= label_tag :user_id %>
    <%= text_field_tag :user_id %>
  </div>
    <div>
    <%= hidden_field_tag :vinyl_id, @vinyl.id %>
  </div>
  <div>
    <%= text_field_tag :quantity, nil, placeholder: "Quantity" %>
  </div>
  <div>
    <%= submit_tag 'Buy Now' %>
  </div> 
<% end %>