<h1><%= @order.user.name %>, This is your order!</h1>

<p>Order ID, Artist Name: <%= @order.id_present_to_customer %></p>
<p>Purchased At <%= @order.pretty_created_at %></p>

<% @order.carted_products.each do |carted_product| %>
<h2><%= carted_product.vinyl.record_title %> - Quantity: <%= carted_product.quantity %></h2>
<% end %>

<!-- <img src="<= @vinyl.top_image %>" alt="<= @vinyl.name %>"> -->
<p>Subtotal: <%= number_to_currency(@order.subtotal) %></p>
<p>Tax: <%= number_to_currency(@order.tax) %></p>
<p>Total: <%= number_to_currency(@order.total) %></p>